{% extends 'base.html.twig' %}

{% block title %}LoLGuides
{% endblock %}

{% block body %}


		<section class="header">
			<div class="background-image">
				<img class="home-bg" src="/img/home-bg.webp" alt="LoLGuides Background">
			</div>
            <div class="input-recherche">
                <input type="text">
            </div>
		</section>

        <section class="tempo"></section>

{% endblock %}
