body {
  background-image: url("../img/home-bg_1920.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.content {
  margin: 0 clamp(0%, (100vw - 900px) * 0.5, 15%);
  background-color: rgba(30, 35, 46, 0.88);
  min-height: 100vh;
  flex-shrink: 0;
  color: #fff;
}

/* Menu */
.menu {
  padding-top: 60px;
}
.menu span {
  color: #fff;
  display: none;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  min-width: 20%;
  width: 200px;
  background: #fff;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.menu span:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  transition: all 0.2s ease-in;
}

.current {
  display: block !important;
}

/* Guide */
#guide {
  display: flex;
  flex-direction: column;
  padding: 20px 1%;
  gap: 40px;
  overflow: hidden;
}

.runes-sorts-inv {
  display: flex;
  flex-wrap: nowrap;
  gap: 50px !important;
}

.note {
  cursor: pointer;
  width: fit-content;
  transform: scale(0.8);
}

/* Runes */
.runes-container {
  position: relative;
  min-width: 615px;
}

.groupe-runes,
.groupeSI,
.groupe-competences {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  font-size: 14px;
  border: 2px solid #152034;
  padding: 2px;
  margin-bottom: 13px;
  list-style: none;
}

.groupeSI {
  gap: 20px;
}

.groupe-runes {
  min-height: 350px;
}

#arbre {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.type-arbre {
  position: relative;
}

.groupe-runes img {
  width: 50px;
  height: 50px;
}

.groupe-runes .note {
  right: 0;
  left: unset;
  top: 10px;
}

#Primaire,
#Secondaire,
#bonus {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  position: relative;
  width: fit-content;
  justify-content: center;
}

#bonus {
  gap: 10px;
}

.rune-2 {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

#Primaire > .choix-rune:nth-child(2) img {
  transform: scale(1.7);
}

#Primaire::after,
#Secondaire::after,
#bonus::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 44px;
  z-index: -1;
  height: 5px;
  right: 30px;
  background: #ffffff;
  border: 1px solid #091120;
  outline: 1px solid #273040;
}

.rune-arbre-titre {
  position: absolute;
  top: -25px;
  font-size: 14px;
  font-weight: 500;
}

.choix-rune {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.rune-titre {
  color: #bbc7da;
  font-size: 12px;
  display: block;
  margin-top: 0px;
  max-width: 80px;
  height: 30px;
}

/* Sort invocateur */
#SortInvocateur {
  position: relative;
  width: 350px;
  max-width: 350px;
}

.groupeSI {
  overflow: hidden;
}

.choixSI {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.choixSI img {
  border-radius: 50%;
  border: 2px solid #000000;
}

.noteSI {
  cursor: pointer;
  transform: scale(0.8);
}

/* Items */
.groupe-ensemble {
  font-size: 14px;
  border: 2px solid #152034;
  padding: 2px;
  margin-bottom: 13px;
  list-style: none;
}

.groupe-items {
  padding: 15px;
  font-size: 14px;
  margin-bottom: 13px;
  display: inline-block;
  margin-right: 13px;
  vertical-align: top;
}

.titre-ensemble,
.titre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #152034af;
  position: relative;
  color: #bbc7da;
  font-size: 14px;
  padding-left: 10px;
  text-transform: uppercase;
  line-height: 39px;
}

.choix-items {
  background: #0b172747;
  padding: 13px 6px 3px;
  display: inline-block;
  border: 2px solid #152034;
}

.choix-items .item {
  display: inline-block;
  vertical-align: top;
  width: 59px;
  position: relative;
  margin: 0 7px 14px;
}

.item img {
  width: 46px;
  height: 46px;
  border: 2px solid #152034;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
}

.item span {
  margin-top: 3px;
  color: #8498b8;
  font-size: 10px;
  line-height: 12px;
  display: block;
  text-align: center;
  word-break: break-word;
}

.titre-groupe {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titre-groupe span {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #d3d7df;
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
  min-height: 19px;
}

/* Competences */
.competence-passive {
  display: flex;
  align-items: center;
  gap: 10px;
}

#Competences {
  position: relative;
}

.competence {
  display: block;
  position: relative;
  padding: 0 2px 0 70px;
}

.niveaux .case {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #152034;
  margin-left: 2px;
}

.case.active span {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: #1c3500;
  color: #fff;
  text-align: center;
  line-height: 29px;
}

.niveaux {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

.comp img {
  position: absolute;
  width: 63px;
  top: 0;
  left: 0;
}

/* Pagination groupes */
#pagination {
  position: absolute;
  top: -30px;
  left: 0;
  max-width: 120px;
  display: flex;
  overflow: auto;
}

#pagination span {
  width: 24px;
  flex: 0 0 auto;
  padding: 0 7px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.page-number {
  position: relative;
  width: 24px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  background: #e4e8ef;
  color: #000000;
  border-left: 2px solid #091120;
  cursor: pointer;
  transition: transform 300ms;
  box-sizing: border-box;
}

.page-number:hover,
#pagination .current {
  background: #275495;
  color: #fff;
}

/* Commentaire */
#commentaire-container {
  display: none;
  flex-direction: column;
}

#commentaire-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}

.commentaire {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.commentaire-details {
  flex-grow: 1;
}

.pseudo {
  font-weight: bold;
}

.texte {
  margin-bottom: 10px;
}

.date {
  font-size: 0.8em;
  color: rgb(196, 209, 231);
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
}

/* Pagination commentaire */
.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  opacity: 0.85;
}

.pagination a,
.pagination .current {
  display: inline-block;
  color: #b2bed4;
  text-transform: uppercase;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  transition: 300ms;
}

.pagination a:hover {
  background: rgba(39, 84, 149, 0.25);
  color: white;
}

.pagination .current {
  background: #275495;
  color: white;
}

/* Ecran inférieur à 1240px */
@media screen and (max-width: 1240px) {
  .runes-sorts-inv {
    flex-direction: column;
  }
}

/* Ecran inférieur à 900px */
@media screen and (max-width: 900px) {
  .groupe-competences {
    gap: 25px;
  }

  .content {
    margin: 0;
  }

  h1 {
    font-size: 20px;
  }

  .note {
    left: 239px;
  }

  .runes-container {
    min-width: unset;
  }

  .niveaux .case {
    flex: 1 1 16px;
  }
  .case.active span {
    line-height: 36px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* Ecran inférieur à 560 px (spécialement pour la seciton runes) */
@media screen and (max-width: 560px) {
  #arbre {
    flex-direction: row;
  }

  #Primaire,
  #Secondaire,
  #bonus {
    flex-direction: column;
    text-align: center;
    justify-content: start;
    gap: 20px;
  }

  .choix-rune {
    gap: 0px;
    position: relative;
  }

  #bonus {
    gap: 70px;
  }

  #bonus .rune-titre {
    position: absolute;
    bottom: -30px;
  }

  .rune-2 {
    height: fit-content;
  }

  #Primaire::after {
    top: 25px;
    left: 37px;
    height: 420px;
    right: 38px;
  }

  #Secondaire::after {
    top: 25px;
    left: 38px;
    height: 190px;
    right: 37px;
  }

  #bonus::after {
    top: 25px;
    left: 23px;
    height: 242px;
    right: 22px;
  }
}

/* Ecran inférieur à 480px */
@media screen and (max-width: 480px) {
  .note {
    left: 169px;
  }

  #SortInvocateur {
    max-width: 100%;
  }

  .comp img {
    position: unset;
  }

  .competence {
    padding: 0 2px 0 2px;
  }

  .niveaux .case {
    flex: 1 1 16px;
    width: 20px;
    height: 20px;
  }

  .case.active span {
    font-size: 12px;
    line-height: 22px;
  }
}

/* Ecran inférieur à 400px */
@media screen and (max-width: 400px) {
  .rune-2 {
    flex-direction: column;
  }

  #arbre {
    gap: 30px;
  }

  #bonus {
    gap: 10px;
  }

  #bonus .rune-titre {
    bottom: 11px;
    right: -66px;
  }

  #bonus::after {
    height: 113px;
  }
}
