body {
    background-image: url("../img/home-bg_1920.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  
  .content {
    margin: 0 clamp(0%, (100vw - 1025px) * 0.5, 15%);
    background-color: rgba(30, 35, 46, 0.88);
    min-height: 100vh;
  }

  .error {
    padding-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
  }

  .error a {
    text-decoration: none;
    color: #dac286;
  }

  .error a:hover {
    text-decoration: underline;
  }