.content {
  width: 100%;
}

.content > :not(.header-home) {
  margin: 0;
}

/* Position des éléments */
#new-guide {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.creation-guide {
  display: flex;
  width: 1316px;
  justify-content: center;
  gap: 2%;
}

.col-left {
  width: 30%;
}

.col-right {
  width: 70%;
}

.new-guide__block,
.groupe-item {
  position: relative;
}

.new-guide-builder__container {
  margin-bottom: 20px;
}

.new-guide-builder__items-container .new-guide-builder_container {
  margin-bottom: 30px;
}

/* Configuration */

.liste-champions {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  overflow: auto;
}

.liste-champions img {
  width: 40px;
  height: 40px;
}

/* Affichage du config et du builder */
.new-guide-config {
  display: block;
}

.new-guide-builder {
  display: none;
}

/* SIDEBAR : Configuration Guide */

.new-guide-sidebar__header {
  background: #152034;
  padding: 15px;
  text-align: center;
  color: #afbbce;
}

.new-guide-sidebar__nav span {
  display: block;
  text-align: center;
  background-color: #0b1727;
  padding: 15px;
  border-left: 5px solid transparent;
  cursor: pointer;
  color: white;
}

.new-guide-sidebar__nav span.current {
  background-color: #233148;
  border-left: 5px solid #275495;
}

.new-guide-sidebar__nav span.current:hover {
  background-color: #233148;
}

.new-guide-sidebar__nav span:hover {
  background-color: #1b2537;
  border-left: 5px solid #275495;
}

.new-guide-sidebar__nav span::before {
  content: "⚙️";
  padding-right: 10px;
  font-size: 15px;
  align-items: center;
}

.new-guide-sidebar_actions {
  padding: 2%;
  background: #152034;
  margin-bottom: 10px;
}

.flat-btn {
  box-sizing: border-box;
  display: inline-block;
  color: white !important;
  background: #275495;
  text-align: center;
  padding: 11px 20px;
  font: 14px/14px "Sarala, Open Sans", sans-serif, sans-serif;
  border: none;
  cursor: pointer;
  transition: 250ms;
}

.flat-btn:hover {
  background: #326bbd;
}

.btn-absolute {
  position: absolute;
  bottom: -50px;
  right: 2px;
}

.full {
  width: 100%;
}

.split {
  width: 49%;
  margin-bottom: 2%;
  float: left;
  background: #2c3d5d;
}

.split:hover {
  background: #3c5480;
}

.margin-left-2 {
  margin-left: 2%;
}

/* Menu Guide */
.new-guide-builder__menu {
  display: flex;
  flex-direction: wrap;
  background-color: #0b1727;
  margin-bottom: 20px;
}

.new-guide-builder__menu span {
  display: block;
  text-align: center;
  padding: 15px;
  border-left: 5px solid transparent;
  cursor: pointer;
  color: white;
  width: 25%;
  box-shadow: 5px 5px 10px #0007, -1px -1px 2px #fff, 1px 1px 2px #555;
}

.new-guide-builder__menu span.current {
  background: #233148;
}

.new-guide-builder__menu span.current:hover {
  background: #233148;
}

.new-guide-builder__menu span:hover {
  background: rgb(6, 14, 31);
}

/* Affichage des new-guide-builder Container */
.new-guide-builder__sorts-invocateur-container {
  display: block;
}

.new-guide-builder__items-container,
.new-guide-builder__competences-container,
.new-guide-builder__runes-container,
.new-guide-builder__counters-container,
.new-guide-builder__synergies-container {
  display: none;
}

/* Banière groupe */
.new-guide__block .baniere-groupe {
  position: relative;
  background-color: #0b1727;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  padding-left: 10px;
}

.new-guide__block .baniere-groupe-items {
  position: relative;
  background-color: #233853;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  padding-left: 10px;
}

.new-guide__block .baniere-groupe:hover {
  background-color: #030811;
}
.new-guide__block .baniere-groupe-items:hover {
  background-color: #1d3351;
}

/* Titre des groupes */
.new-guide__block .titre-groupe,
.new-guide__block .titre-groupe-item {
  position: absolute;
  display: flex;
  top: 13px;
  left: 40px;
}

.new-guide__block .titre-groupe input,
.new-guide__block .titre-groupe-item input {
  background-color: #1b2537;
  color: white;
  border: 1px solid #bbc2db;
  padding-left: 6px;
}

.new-guide__block .titre-groupe-item,
.groupe-item {
  background-color: #182a41;
}

.new-guide__block .titre-groupe-item:hover {
  background-color: #142036;
}

.fa-arrows-up-down-left-right {
  font-size: 17px;
  cursor: pointer;
}

/* Contenu des groupes */
.new-guide__block {
  background-color: #0b1727;
  padding-bottom: 3px;
  margin-bottom: 0px;
}

.new-guide-builder__items-container .new-guide__block {
  margin-bottom: 60px;
}

.groupe-content,
.groupe-content-item,
.groupe-content-liste-items {
  background-color: #233148;
  color: #afbbce;

  overflow: hidden;
  transition: opacity 0.2s ease-out, max-height 0.2s ease-out;
  max-height: 0;
  opacity: 0;
}

.open {
  display: flex;
  opacity: 1;
  max-height: 1000px;
  transition-delay: 0s;
}

.supprimer-groupe,
.supprimer-itemsGroupe {
  color: #b4b1c1;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
  transition: 0.3s;
  font-size: 20px;
  z-index: 1;
}

.supprimer-groupe:hover,
.supprimer-itemsGroupe:hover {
  transform: rotate(20deg);
}

.ensemble {
  background-color: #0b1727;
}

.add-items {
  margin-bottom: 10px;
}

/* Secion Items */
.groupe-content {
  margin: 0 3px;
  display: flex;
  flex-direction: wrap;
  padding: 15px;
  justify-content: space-between;
}

.groupe-content-liste-items {
  margin: 0 3px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.ensemble-content {
  padding: 0 3px;
}

.sortable-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  list-style: none;
}

.groupe-item .groupe-content {
  margin: 0 3px 3px 3px;
}

/* Section Compétences */
.new-guide-builder__competences-container .groupe-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new-guide-builder__competences-container .commentaire textarea {
  max-width: 500px;
}

.competence {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.competence > label {
  position: absolute;
  color: #6d86ac;
  text-align: center;
  height: 22px;
  width: 22px;
  bottom: 4px;
  left: 0;
  font-size: 14px;
  background: #1a2233;
}

.competence-titre-checkbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.competence-choix-checkbox {
  text-align: center;
}

.competence-choix-checkbox [id^="guide_groupesCompetences"] {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.competence-choix-checkbox [id^="guide_groupesCompetences"] label {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 31px;
  height: 31px;
  background: #2c3d5d;
  position: relative;
  cursor: pointer;
  transition: 250ms;
}

.competence-choix-checkbox [id^="guide_groupesCompetences"] label:hover {
  color: #fff;
}

.competence-choix-checkbox
  [id^="guide_groupesCompetences"]
  input:checked
  + label {
  background: #0f1f3d;
  color: #fff;
}

.competence-choix-checkbox input[type="checkbox"] {
  display: none;
}

.niveaux {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.niveaux .case {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.liste-competences {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Section Runes */
.new-guide-builder__runes-container .groupe-content {
  min-height: 430px;
}

.arbres {
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
}

.arbre-click {
  box-shadow: 0px 0px 20px 2px #dac286;
  border-radius: 50%;
}

.arbre-runes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.bonus-lines {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  left: 300px;
}

.bonus-line {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.runes-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.arbre-1 {
  position: absolute;
  left: 15px;
  top: 135px;
}

.arbre-2 {
  position: absolute;
  left: 300px;
  top: 135px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.options label,
.bonus-line-choice label,
.arbre {
  cursor: pointer;
}

.options input[type="radio"],
.bonus-line-choice input[type="radio"] {
  display: none;
}

.options label img,
.bonus-line-choice img {
  border-radius: 50%;
}

.options input[type="radio"]:checked + label img {
  box-shadow: 0px 0px 9px 5px #dac286;
}

.bonus-line-choice input[type="radio"]:checked + label img {
  box-shadow: 0px 0px 4px 2px #dac286;
}

.sk-arbre-1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 15px;
  top: 153px;
  gap: 66px;
  z-index: -1;
}

.sk-arbre-2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 293px;
  top: 153px;
  gap: 66px;
  z-index: -1;
}

.sk-arbre-1 div {
  width: 210px;
  height: 2px;
  background-color: #dac286;
}

.sk-arbre-2 div {
  width: 170px;
  height: 2px;
  background-color: #dac286;
  left: 300px;
  top: 135px;
}

/* Image checkbox */
.checkbox label {
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox-sorts label img {
  border-radius: 50%;
  box-shadow: inset 0px 0px 48px -61px #dac286,
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.checkbox-sorts input[type="checkbox"]:checked + label img {
  box-shadow: 0px 0px 9px 5px #dac286;
}

.checkbox-sorts {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: 10px;
  height: fit-content;
}

.checkbox-sorts > * {
  flex: 1 1 10%;
}

.commentaire textarea {
  color: white;
  background-color: #1b2537;
  max-width: 300px;
  min-width: 300px;
  min-height: 150px;
  padding: 10px;
}

/* Checkbox des items */
.checkbox-items {
  width: 50%;
  overflow: auto;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.checkbox-items .item:hover {
  background: #34486a;
}

.checkbox-items .item {
  flex: 0 1 84px;
  text-align: center;
  padding: 7px 7px 2px 7px;
  cursor: pointer;
  transition: 300ms;
  margin-right: -6px;
  position: relative;
  margin-bottom: 2px;
  overflow: hidden;
}

.checkbox-items img {
  width: 50px;
  height: 50px;
  border: 2px solid #152034;
  background: #152034;
  border-radius: 2px;
}

.checkbox-items span {
  display: block;
  color: #7c8ca5;
  font-size: 11px;
  line-height: 1.1;
  padding: 5px 0 0 0;
}

.checkbox-items p {
  position: absolute;
  left: 50%;
  top: 49px;
  border-radius: 5px;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 10px;
}

#selectedItem {
  display: flex;
  flex-direction: wrap;
  gap: 10px;
}

.copie-item {
  width: 55px;
  height: 55px;
  border: 2px solid #152034;
  background-color: #32435f;
}

.copie-item img {
  width: 51px;
  height: 51px;
}

.ordre-item {
  display: none;
}

/* error message */
#nav-config,
#nav-builder,
#menu-sorts-invocateur-container,
#menu-items-container,
#menu-competences-container,
#menu-runes-container {
  position: relative;
}

/* Erreur formulaire */
.error-message {
  pointer-events: none;
  color: red;
  font-size: 13px;
}

.error-message-main {
  font-size: 25px;
  position: absolute;
  right: 7%;
}

.error-message-point {
  font-size: 13px;
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
}

/* Media query pour les écrans plus petits que 1316px */
@media (max-width: 1316px) {
  #new-guide {
    width: 1316px;
    transform-origin: top left;
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .creation-guide {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
  }

  .col-left{
    height: 50%;
    transform: scale(1.2);
    width: 70%;
  }

  .col-right{
    height: 50%;
    transform: scale(1.4);
  }
}
