body {
  background-image: url("../img/home-bg_1920.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0 clamp(0%, (100vw - 1025px) * 0.5, 15%);
  background-color: rgba(30, 35, 46, 0.88);
  color: #fff;
}

.wrapper-recherche-guide {
  width: 1340px;
  padding: 20px;
}

.content-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.left-col {
  flex: 0 0 calc(100% - 318px);
  max-width: calc(100% - 318px);
}

.right-col {
  flex: 0 0 300px;
  max-width: 300px;
  margin-left: 18px;
  max-height: 500px;
  overflow: auto;
  padding-right: 5px;
  margin-top: 4%;
}

.commentaires {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentaire {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #2c2c40;
  padding: 5px;
  background: #17172e78;
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

.commentaire .guide {
  color: #dac286;
  font-size: 13px;
  line-height: 1em;
  width: 100%;
}

.commentaire .guide a {
  text-decoration: none;
  color: #dac286;
}

.commentaire .guide a:hover {
  text-decoration: underline;
}

.commentaire .date {
  color: #c2d0e9;
  font-size: 13px;
  line-height: 1em;
  width: 100%;
}

.commentaire .message {
  color: #ffffff;
  font-size: 15px;
  line-height: 1em;
  width: 100%;
}

.listing-guide {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.listing-guide * {
  box-sizing: border-box;
}

.listing-item {
  width: 100%;
  margin-bottom: 4px;
  display: flex;
  background: #17172e78;
  border: 1px solid #2c2c40;
}

.listing-item:hover {
  transform: scale(1.01);
  background: #17172e88;
}


.search-result {
  margin-top: 3px;
  z-index: 10;
  top: 100%;
  left: 0px;
  right: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.div-search-filter {
  position: relative;
}

.fa-spinner {
  font-size: 22px;
}

.note-guide {
  padding: 9px 9px 8px;
  display: flex;
  flex: 0 0 147px;
  max-width: 147px;
  color: #fff;
  border: 2px solid #091120;
  display: flex;
  justify-content: center;
}

.note-guide span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffd591;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.note-guide span::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: calc(50% - 9px);
  bottom: -9px;
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  background: linear-gradient(-45deg, #544325 0%, #544325 50%, #866032 100%);
}

.champion-div {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  background-color: #313d49;
  justify-content: center;
  cursor: pointer;
}

.champion-div:hover {
  background-color: #41505f;
}

.input-champion-search {
  padding: 10px;
  width: 210px;
  height: 43px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  border-radius: 3px;
  background-color: #fff;
  color: #5f5f7b;
}

.div-search-filter a {
  color: #fff;
}

#clear-champion-btn,
#clear-btn {
  cursor: pointer;
}

#clear-champion-btn:hover,
#clear-btn:hover,
.div-search-filter a:hover {
  color: #dac286;
}

.input-champion-search::placeholder {
  font-size: 15px;
}

.champion-name {
  padding: 0 10px;
}

.image-wrapper {
  display: flex;
}

.image-wrapper img {
  width: 40px;
  height: 40px;
}

.wrapper-recherche-guide a {
  text-decoration: none;
}

.champion-guide {
  flex: 0 0 85px;
  max-width: 85px;
  max-height: 85px;
  position: relative;
}

.champion-guide img {
  width: 100%;
}

.choix-role label img {
  cursor: pointer;
}

.choix-role label img:hover {
  background-color: #17172e88;
}

.choix-role input[type="radio"]:checked + label img {
  background-color: #275495 !important;
}

.choix-role input[type="radio"] {
  display: none;
}

.choix-role {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  text-align: center;
}

.choix-role label {
  display: flex;
  flex-direction: column;
}

.choix-role img {
  width: 60px;
  height: 60px;
}

.infos-guide {
  flex: 0 0 calc(100% - 232px);
  max-width: calc(100% - 232px);
  border-left: 4px solid #091120;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.infos-guide .titre-guide {
  color: white;
  font-size: 16px;
  width: 100%;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.infos-guide .titre-guide img {
  width: 20px;
  height: 20px;
  margin-top: -3px;
  vertical-align: middle;
}

.infos-guide .user-infos {
  color: #8d9bb3;
  font-size: 13px;
  line-height: 1em;
  width: 100%;
}

.pagination {
  display: flex;
  background: #17172e78;
  border: 1px solid #2c2c40;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.pagination a,
.pagination .current {
  display: inline-block;
  color: #8092b3;
  text-transform: uppercase;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  transition: 300ms;
}

.pagination a:hover {
  background: rgba(39, 84, 149, 0.25);
  color: white;
}

.pagination .current {
  background: #275495;
  color: white;
}

@media screen and (max-width: 900px) {
  .right-col {
    display: none;
  }

  .left-col {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .note-guide {
    padding: 0;
    flex: 0 0 66px;
    max-width: 66px;
    background: #121c30;
    border-radius: 4px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .infos-guide {
    border-left: none;
    flex: 0 0 calc(100% - 151px);
    max-width: calc(100% - 151px);
  }

  .listing-item {
    border-radius: 4px;
    padding: 5px;
    align-items: center;
  }

  .champion-guide {
    max-width: 60px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper-recherche-guide {
    padding: 10px;
  }

  .choix-role img {
    width: 40px;
    height: 40px;
  }

  .choix-role label {
    font-size: 12px;
  }
}
