/* Position des éléments */
#new-guide {
  margin-top: 10%;
}

.creation-guide {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2%
}

.col-left {
  width: 30%;
}

.col-right {
  width: 70%;
}

.new-guide__block, .groupe-item {
  position: relative;
}

.new-guide-builder__container {
  margin-bottom: 20px;
}

/* Configuration */

.liste-champions {
  display:flex; 
  flex-wrap: wrap; 
  height: 200px; 
  overflow: auto;
}

/* Affichage du config et du builder */
.new-guide-config {
  display: block;
}

.new-guide-builder {
  display: none;
}

/* SIDEBAR : Configuration Guide */


.new-guide-sidebar__header {
  background: #152034;
  padding: 15px;
  text-align: center;
  color: #afbbce;
}

.new-guide-sidebar__nav span {
  display: block;
  text-align: center;
  background-color: #0b1727;
  padding: 15px;
  border-left: 5px solid transparent;
  cursor: pointer;
  color: white;
}

.new-guide-sidebar__nav span.current {
  background-color: #233148;
  border-left: 5px solid #275495;
}

.new-guide-sidebar__nav span.current:hover {
  background-color: #233148;
}

.new-guide-sidebar__nav span:hover {
  background-color: #1b2537;
  border-left: 5px solid #275495;
}

.new-guide-sidebar__nav span::before {
  content: "⚙️";
  padding-right: 10px;
  font-size: 15px;
  align-items: center;
}

.new-guide-sidebar_actions {
  padding: 2%;
  background: #152034;
  margin-bottom: 10px;
}

.flat-btn {
  box-sizing: border-box;
  display: inline-block;
  color: white !important;
  background: #275495;
  text-align: center;
  padding: 11px 20px;
  font: 14px/14px "Open Sans Mobafire", "Open Sans", sans-serif, sans-serif;
  border: none;
  cursor: pointer;
  transition: 250ms;
}

.flat-btn:hover {
  background: #326bbd;
}

.full {
  width: 100%;
}

.split {
  width: 49%;
  margin-bottom: 2%;
  float: left;
  background: #2c3d5d;
}

.split:hover {
  background: #3c5480;
}

.margin-left-2 {
  margin-left: 2%;
}

/* Menu Guide */
.new-guide-builder__menu {
  display: flex;
  flex-direction: wrap;
  background-color: #0b1727;
  margin-bottom: 20px;
}

.new-guide-builder__menu span {
  display: block;
  text-align: center;
  background-color: #0b1727;
  padding: 15px;
  border-left: 5px solid transparent;
  cursor: pointer;
  color: white;
  width: 25%;
}

.new-guide-builder__menu span.current {
  background-color: #275495;
}

.new-guide-builder__menu span.current:hover {
  background-color: #275495;
}

.new-guide-builder__menu span:hover {
  background-color: #224981;
}

/* Affichage des new-guide-builder Container */
.new-guide-builder__sorts-invocateur-container {
  display: block;
}

.new-guide-builder__items-container,
.new-guide-builder__competences-container,
.new-guide-builder__runes-container,
.new-guide-builder__counters-container,
.new-guide-builder__synergies-container {
  display: none;
}

/* Titre des groupes */
.new-guide__block .titre-groupe, .new-guide__block .titre-groupe-item {
  background-color: #0b1727;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  color: white;
}
.new-guide__block .titre-groupe:hover {
  background-color: #233148;
}

.new-guide__block .titre-groupe-item {
  background-color: #182a41;
}
.new-guide__block .titre-groupe-item:hover {
  background-color: #35455e;
}

/* Contenu des groupes */
.groupe-content, .groupe-content-item {
  background-color: #233148;
  color: #afbbce;
}

.supprimer-groupe, .supprimer-itemsGroupe {
  position: absolute;
  top: 0;
  right: 0;
}

.ensemble {
  background-color: #0b1727;
}

.add-items {
  margin-bottom: 10px;
}

/* Secion Items */
.groupe-content {
  padding: 0 10px;
  margin-bottom: 3px;
}

.ensemble-content {
  padding: 0 3px;
  margin-bottom: 20px;
}

.sortable-list {
  display: flex;
  flex-direction: column;
}

/* Section Compétences */
.competence {
  display: flex;
  flex-wrap: wrap;
}

.niveaux {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.niveaux .case {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
