/* Style CSS de la navbar */

.navbar {
  position: relative;
  background-color: #06070c;
  display: flex;
  align-items: center;
  height: 65px;
  box-shadow: inset 0 2px 0 0 #dac286, inset 0 -2px 0 0 #dac286;
}

@media screen and (min-width: 491px) {
  header .menu,
  header .menu--bottom-left,
  header #menu_bottom_left {
    display: none;
  }
}

.navbar-nav-left {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  gap: 30px;
  margin-left: 15%;
}

.navbar-nav-right {
  list-style: none;
  display: flex;
  margin-right: 15%;
  justify-content: right;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.navbar a {
  font-size: 16px;
}

.nav-logo {
  position: absolute;
  width: 216px;
  height: auto;
  top: 37px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.nav-links,
.nav-auth {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 82px;
}

.nav-auth {
  text-align: right;
}

.nav-link {
  color: #dac286;
  text-decoration: none;
  transition: color 0.5s ease;
}

.nav-link:hover,
.nav-link:focus {
  color: #bbc2db;
}

.login-link {
  text-decoration: none;
  color: #dac286;
}

.wrapper,
.wrapper-logout {
  position: relative;
  overflow: hidden;
  padding: 5px 40px;
  border: 2px solid #dac286;
  border-radius: 50px;
  cursor: pointer;
}
.wrapper::after {
  content: "";
  position: absolute;
  top: -450%;
  left: -200%;
  width: 260px;
  height: 240px;
  opacity: 0;
  transform: rotate(25deg);
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0.13) 0,
    hsla(0, 0%, 100%, 0.13) 77%,
    hsla(0, 0%, 100%, 0.5) 92%,
    hsla(0, 0%, 100%, 0)
  );
}
.wrapper-logout::after {
  content: "";
  position: absolute;
  top: -543%;
  left: -130%;
  width: 280px;
  height: 203px;
  opacity: 0;
  transform: rotate(25deg);
  background-color: hsla(0, 88%, 25%, 0.37);
  background: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0.13) 0,
      hsla(0, 0%, 100%, 0.13) 77%,
      hsla(0, 0%, 100%, 0.5) 92%,
      hsla(0, 0%, 100%, 0)
    ),
    hsla(0, 88%, 25%, 0.349);
}

.wrapper:hover::after {
  opacity: 1;
  top: -35%;
  left: -35%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.wrapper-logout:hover::after {
  opacity: 1;
  top: -150%;
  left: 0%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Styles pour les écrans jusqu'à 1200px */
@media screen and (max-width: 1500px) {
  .navbar-nav {
    margin: 0 10%;
  }

  .nav-links,
  .nav-auth {
    gap: 50px;
  }
}

/* Styles pour les écrans jusqu'à 1200px */
@media screen and (max-width: 1200px) {
  .navbar-nav {
    margin: 0 10%;
  }

  .navbar-nav-left {
    margin-left: 10%;
  }

  .navbar-nav-right {
    margin-right: 10%;
  }

  .navbar a {
    font-size: 12px;
  }

  .wrapper a {
    font-size: 16px;
  }

  .nav-links,
  .nav-auth {
    gap: 30px;
  }

  .nav-logo {
    width: 170px;
    top: 43px;
  }
}

/* Styles pour les écrans jusqu'à 768px (tablettes) */
@media screen and (max-width: 768px) {
  .navbar-nav {
    gap: 20px;
  }

  .navbar-nav-left {
    margin-left: 10px;
  }

  .navbar-nav-right {
    margin-right: 10px;
  }

  .navbar a {
    font-size: 8px;
  }

  .wrapper {
    padding: px 30px;
  }

  .wrapper a {
    font-size: 13px;
  }

  .nav-links,
  .nav-auth {
    gap: 20px;
  }

  .nav-logo {
    width: 140px;
    top: 46px;
  }
}

/* Styles pour les écrans jusqu'à 490px (mobiles) */
@media screen and (max-width: 490px) {
  .navbar .nav-links,
  .navbar .nav-auth {
    gap: 20px;
  }

  .navbar .login-link {
    transform: scale(0.7);
  }

  .navbar .navbar-nav-right {
    gap: 10px;
  }

  .navbar .navbar-nav-left {
    display: none;
  }

  .navbar .navbar-nav-right {
    margin-right: 0px;
  }

  .navbar a {
    font-size: 15px;
  }

  /* Menu burger */
  header .menu {
    position: fixed;
    z-index: 9999;
    display: flex;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 100%;
  }
  header .menu.active .menu__list {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: transform 0.3s, visibility 0s 0s;
  }
  header .menu.active .menu__list li a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
  }
  header .menu.active .menu__list li:nth-child(1) a {
    transition-delay: 0s;
  }
  header .menu.active .menu__list li:nth-child(2) a {
    transition-delay: 0.1s;
  }
  header .menu.active .menu__list li:nth-child(3) a {
    transition-delay: 0.2s;
  }
  header .menu.active .menu__list li:nth-child(4) a {
    transition-delay: 0.3s;
  }
  header .menu.active .menu__list li:nth-child(5) a {
    transition-delay: 0.4s;
  }
  header .menu.active .menu__list li:nth-child(6) a {
    transition-delay: 0.5s;
  }
  header .menu.active .menu__list li:nth-child(7) a {
    transition-delay: 0.6s;
  }
  header .menu.active .menu__list li:nth-child(8) a {
    transition-delay: 0.7s;
  }
  header .menu.active .menu__list li:nth-child(9) a {
    transition-delay: 0.8s;
  }
  header .menu.active .menu__list li:nth-child(10) a {
    transition-delay: 0.9s;
  }
  header .menu .menu__btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    background: #06070c;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
  header .menu .menu__btn i {
    color: #fff;
  }
  header .menu .menu__list {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 0;
    border-radius: 4px;
    transform: scale(0);
    transform-origin: top left;
    transition: transform 0.3s, visibility 0s 0s;
    background: #06070c;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  }
  header .menu .menu__list li {
    display: flex;
    align-items: center;
  }
  header .menu .menu__list li a {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    opacity: 0;
  }
  header .menu .menu__list li a:hover {
    color: #ffffff;
    transition: 0.25s !important;
    transition-delay: 0s;
  }

  header .menu.menu--top-left {
    position: absolute;
    left: 15px;
    top: 7px;
    text-align: left;
  }
  header .menu.menu--top-left.active .menu__list {
    transform: scale(1);
  }
  header .menu.menu--top-left.active .menu__list li a {
    transform: translateX(0);
  }
  header .menu.menu--top-left .menu__list {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
  }
  header .menu.menu--top-left .menu__list li a {
    transform: translateX(-10px);
  }

  /* FIN MENU BURGER */
}
