{% extends 'base.html.twig' %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}

{% block body %}
	<div class="error">
		<h1>Accès non autorisé</h1>

		<p>
			Vous n'avez pas l'autorisation d'accéder à cette page.
			<a href="{{ path('app_home') }}">Retourner à la page d'accueil</a>.
		</p>
	</div>
{% endblock %}
